<div class="container">
  <h1>Angular posts</h1>

  <app-post-form
    (onAdd)="initialPost($event)"
  ></app-post-form>

  <hr>

  <app-post
    [appStyle]="'green'"
    [dStyles]="{border: '1px solid blue', fontWeight: 'bold'}"
    *ngFor="let p of posts"
    [post]="p"
    (onRemove)="removePost($event)"
  >

    <div #info>
      <small *ngIf="p.text.length > 10; else short" >Text is too long...</small>
      <ng-template #short>
        <small>Text is too shrot...</small>
      </ng-template>
    </div>

  </app-post>

  <hr>

<!--  <app-add-input></app-add-input>-->

</div>

