<div class="container">
  <h1>Angular posts</h1>

  <app-post-form
    (onAdd)="initialPost($event)"
  ></app-post-form>

  <hr>

  <app-post
    [appStyle]="'green'"
    [dStyles]="{border: '1px solid blue', fontWeight: 'bold'}"
    *ngFor="let p of posts"
    [post]="p"
    (onRemove)="removePost($event)"
  >

    <div #info>
      <small *ngIf="p.text.length > 10; else short" >Text is too long...</small>
      <ng-template #short>
        <small>Text is too shrot...</small>
      </ng-template>
    </div>

  </app-post>

  <hr>

  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>

  <div *appIfnot="!isVisible">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eligendi magnam, nobis odit repudiandae voluptate.</p>
  </div>

  <ng-template [appIfnot]="isVisible">
    <div>
      <p>NG Template - Lorem ipsum dolor sit amet.</p>
    </div>
  </ng-template>

  <div *ngIf="isVisible">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>

<!--  <app-add-input></app-add-input>-->

</div>

